button.station {
    width: 1.6%;
    height: 1.6vmax;
    border-radius: 50%;
    background-color: transparent;
    border: 0.17vmax solid #20ac15;
    margin: 17.7vmax 0 12.5vmax;
    padding: 0;
}
button.station:hover {
    background-color: #20ac15;
    box-shadow: 0px 0px 0.2vmax 0.2vmax #e054db;
}
button.station.big {
    margin: 17.5vmax 0 12.5vmax;
    width: 2.1%;
    height: 2.1vmax;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 0.7% 0 0.6%;
    width: 98.7%;
}

.map {
    background-image: url('../img/line2.png');
    background-size: contain;
}