body {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none;
}
body.modal-open {
    overflow: hidden;
}
html {
    font-size: 18px;
}
.left {
    margin: 0 15%;
}
@media (max-width: 1280px) {
    html {
        font-size: 15px;
    }
}
@media (max-width: 1024px) {
    html {
        font-size: 12px;
    }
    .left {
        margin: 0 8%;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 9px;
    }
    .left {
        margin: 0 3rem;
    }
}
@media (orientation: portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: top left;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vh;
        height: 100vw;
        font-size: 16px;
    }
    .left {
        margin: 15%;
    }
    @media (max-height: 1280px) {
        html {
            font-size: 14px;
        }
        .left {
            margin: 0 12%;
        }
    }
    @media (max-height: 1024px) {
        html {
            font-size: 11px;
        }
        .left {
            margin: 0 9%;
        }
    }
    @media (max-height: 768px) {
        html {
            font-size: 9px;
        }
        .left {
            margin: 0 3rem;
        }
    }
}

.up {
    margin-bottom: 1rem;
}
.down {
    margin-top: 1rem;
}
.center {
    text-align: center;
}
.normal {
    font-size: 1rem;
}
.large {
    font-size: 1.1rem;
}
.xlarge {
    font-size: 1.3rem;
}
.blank {
    padding: 0 2rem;
}
input[type="checkbox"] {
    width: 0.75rem;
    height: 0.75rem;
}
img {
    width: 100%;
}

a.login {
    position: fixed;
    top: 2%;
    right: 3%;
    background-color: white;
    padding: 0.25rem;
    border-radius: 0.5rem;
}
a {
    text-decoration: none;
}
a:link {
    color: #00cc33;
}
a:visited {
    color : #9966ff;
}
a:hover {
    color : #cccc00;
}
a:active {
    color : #33ff66;
}

span.info {
    position: fixed;
    top: 2%;
    right: 3%;
    background-color: white;
    padding: 0.1rem 0.4rem;
    border-radius: 0.5rem;
}