html {
    font-size: 18px;
}
.left {
    margin: 15%;
}
@media (max-width: 1280px) {
    html {
        font-size: 15px;
    }
}
@media (max-width: 1024px) {
    html {
        font-size: 13px;
    }
    .left {
        margin: 8%;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 11px;
    }
    .left {
        margin: 3rem;
    }
}
@media (orientation: portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: top left;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vh;
        height: 100vw;
        font-size: 16px;
    }
    .left {
        margin: 15%;
    }
    @media (max-height: 1280px) {
        html {
            font-size: 14px;
        }
        .left {
            margin: 12%;
        }
    }
    @media (max-height: 1024px) {
        .left {
            margin: 9%;
        }
    }
    @media (max-height: 768px) {
        html {
            font-size: 11px;
        }
        .left {
            margin: 3rem;
        }
    }
}

.up {
    margin-bottom: 1rem;
}
.center {
    text-align: center;
}
.normal {
    font-size: 1rem;
}
.large {
    font-size: 1.1rem;
}
.xlarge {
    font-size: 1.3rem;
}

button {
    margin: 0.6rem;
    border-radius: 0.6rem;
    color: white;
    border: none;
    width: 5.2rem;
    height: 2.6rem;
}

.line1 {
    background-color: #f7612f;
}
.line2 {
    background-color: #20ac15;
}
.line3 {
    background-color: #b58942;
}
.line4 {
    background-color: #286fdb;
}
.selected {
    border: 0.2rem solid #33333366;
}
img {
    width: 100%;
}

button.end {
    padding: 0 1rem;
    width: fit-content;
    height: 2.1rem;
}
button.end:hover {
    font-weight: bold;
    background-color: white;
}
button.end.line1:hover {
    color: #f7612f;
    border: 0.2rem solid #f7612f;
}
button.end.line2:hover {
    color: #20ac15;
    border: 0.2rem solid #20ac15;
}
button.end.line3:hover {
    color: #b58942;
    border: 0.2rem solid #b58942;
}
button.end.line4:hover {
    color: #286fdb;
    border: 0.2rem solid #286fdb;
}